.cardWrapper {
  width: 90%;
  padding: 15px 30px 30px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 50px auto;
}

.optionsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.option {
  all: unset;
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.nextBtn {
  all: unset;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid transparent;
  color: #0A558C;
  background-color: #DCEEFB;
  padding: 5px 10px;
  margin-top: 15px;
  font-size: 14px;
}