:root {
  --correct: #14919B;
  --incorrect: #BA2525;
  --gray-dark: #102A43;
  --grey-one: #102A43;
  --grey-two: #243B53;
  --grey-three: #334E68;
  --grey-four: #486581;
  --grey-five: #627D98;
  --grey-six: #829AB1;
  --grey-seven: #9FB3C8;
  --grey-eight: #BCCCDC;
  --grey-nine: #D9E2EC;
  --grey-ten: #F0F4F8;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #eee;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
