:root {
  --correct: #14919B;
  --incorrect: #BA2525;
  --gray-dark: #102A43;
  --gray-one: #627D98;
  --gray-two: #829AB1;
  --gray-three: #9FB3C8;
  --gray-four: #BCCCDC;
  --gray-nine: #D9E2EC;
  --gray-ten: #F0F4F8;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #eee;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
